
    <div class="card bg-dark text-white text-center banner" >
      <img class="card-img" src="<%= image_url 'rower.jpg' %>" alt="Card image">
      <div class="card-img-overlay">
       <h1 class="card-title align-middle">Crossfit Anywhere</h1>
       <p class="card-text">Find CrossFit gyms all around the world</p>
       <%= link_to "Search", gyms_path, class: "btn btn-primary" %>
       <!-- <p class="card-text">Last updated 3 mins ago</p> -->
      </div>
    </div>

