<div class="banner" style="background-image: url(<%= image_url 'rower.jpg' %>);">
  <div class="banner-content">
    <h1>Crossfit anywhere</h1>
    <p>find a gym around the corner or around the world</p>
    <%= link_to "Search", gyms_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<!-- linear-gradient(-225deg, rgba(240,245,252,0.6) 0%, rgba(0,101,168,0.6) 50%), -->
