
  <div class="row">
    <% @gyms.each do |gym| %>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
     <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('   https://picsum.photos/200/300/?random');">
        <div class="card-category">Crossfit</div>
        <div class="card-description">
          <h2><%= gym.name %></h2>
          <p><%= gym.country.name %></p>
          <p><%= gym.city.name %></p>
        </div>

      </div>
    </div>
    <% end %>
</div>
