
  <div class="row">
    <% @media.each do |post| %>
    <% url = post["node"]["thumbnail_src"] %>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
     <div class="card" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= url %>');">

        <div class="card-category">Crossfit</div>
        <div class="card-description">
          <h2><%#= gym.name %></h2>
          <p><%#= gym.country.name %></p>
          <p><%#= gym.city.name %></p>
        </div>
        <div class="card-link">
          <%#= link_to "Link", gym_path(gym), :class=> "card-link" %>
            <!-- <button type="button" class="btn btn-primary card-link" data-toggle="modal"  data-target="#exampleModal">
          </button> -->

          <%= link_to url, "#", :class => "card-link link", :id => "clickme", data: {toggle: "modal", target: "#exampleModal"} %>

          <%#= button_to  :class => "card-link", data: {toggle: "modal", target: "#exampleModal"}%>
          <!-- = link_to body, url, :data => { :foo => 'bar', :this => 'that' -->

        </div>


      </div>
    </div>
    <% end %>
</div>


   <!--  # @username = @profile["user"]["username"]
    # @second_url = "https://www.instagram.com/#{@username}/?__a=1"
    # second_serialized = open(second_url).read
    # @instagram = JSON.parse(second_serialized) -->
<!-- Button trigger modal -->

<!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"           aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal"          aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <%= image_tag("", :id => "placehere") %>
                </div>

              </div>
            </div>
          </div>
<!-- End of Modal -->
