
  <div class="row">
    <% @media.each do |post| %>
    <% url = post["node"]["thumbnail_src"] %>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
     <div class="card" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= url %>');">

        <div class="card-category">Crossfit</div>
        <div class="card-description">
          <h2><%#= gym.name %></h2>
          <p><%#= gym.country.name %></p>
          <p><%#= gym.city.name %></p>
        </div>
        <div class="card-link">
          <%#= link_to "Link", gym_path(gym), :class=> "card-link" %>
        </div>
      </div>
    </div>
    <% end %>
</div>


   <!--  # @username = @profile["user"]["username"]
    # @second_url = "https://www.instagram.com/#{@username}/?__a=1"
    # second_serialized = open(second_url).read
    # @instagram = JSON.parse(second_serialized) -->
