
  <div class="row">
    <% @media.each do |post| %>
    <% url = post["node"]["thumbnail_src"] %>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
     <div class="card" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= url %>');">

        <div class="card-category">Crossfit</div>
        <div class="card-description">
          <h2><%#= gym.name %></h2>
          <p><%#= gym.country.name %></p>
          <p><%#= gym.city.name %></p>
        </div>
        <div class="card-link">
          <%#= link_to "Link", gym_path(gym), :class=> "card-link" %>
            <!-- <button type="button" class="btn btn-primary card-link" data-toggle="modal"  data-target="#exampleModal">
          </button> -->
          <%= link_to url, "#", :class => "card-link link", :id => "clickme", data: {toggle: "modal", target: ".bd-example-modal-lg"} %>
        </div>
      </div>
    </div>
    <% end %>
</div>

<!-- Modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width: 500px;">
    <div class="modal-content">
      <%= image_tag("", :id => "placehere",  :style => "height: auto") %>
    </div>
  </div>
</div>
