<ul class="nav">
  <li class="nav-item">
    <!-- <a class="nav-link active" href="#">Active</a> -->
    <%= link_to 'Photos', gym_path(@gym), class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <!-- <a class="nav-link" href="#">Link</a> -->
    <%= link_to 'WODs', gym_wods_path(@gym), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>
