.cards-container{
  flex-grow: 1;
  padding-right: 7px;
  padding-left: 7px;
}
.information{
  flex: 0 0 400px;
  height: auto;
  // position: sticky !important; /* !important to override Gmaps inline CSS */
  // top: 13px !important;
  // background-color: white;
  // border-style: solid;
  // border-radius: 3px;
  // border-color: lightgrey;
  // border-width: 1px;
  // box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  margin-right: 12px;
  // position: relative;
  font-size: 14px;
}
// @media (min-width: 400px) {
//    .information {
//       flex: 0 0 400px;
//   }
// }
.information h3{
  font-size: 21px;
}
.information h2{
  font-size: 24px;
}
.show-container{
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  top: 190px;
}
.avatar-large-show {
  width: 180px;
  border-radius: 50%;
  position: absolute;
  top: -167px;
  right: 212px
}
@media (max-width: 400px) {
   .show-map {
      display: none;
  }
}
.hours{
  font-size: 14px;
}
.hours ul {
list-style-type: none;
}
.open-now{
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
  text-decoration: none;
}
.google-reviews h3{
  font-size: 21px;
}
.google-review{
display: flex;
align-items:center;
padding-top: 8px;
}
.review-avatar{
flex: 0 0 12%;
}
.review-text{
flex: 0 0 88%;
font-size: small !important;
background-color: lightgoldenrodyellow;
padding: 5px;
border-radius: 8px
}
.title-size{
  font-size: 21px;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-weight: 500;
}
@media (max-width: 400px) {
   #find-gyms {
      position: absolute;
      right: 10px;
  }
}
@media (max-width: 400px) {
   #gym_address {
      width: 90%;
  }
}
@media (max-width: 400px) {
   .information {
      margin: 0px;
  }
}


