<!-- -------------------------------------------- -->
<div class="container col-lg-7 ">
    <h3 class="text-primary">Mailbox</h3>
        <div class="list-group">
      <% @conversations.each do |conversation| %>
        <div class="list-group-item">
        <%# if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
          <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
          <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <div class="d-flex flex-row ">
          <div class="p-1 flex-grow-1">
            <%= link_to "Talking to: #{recipient.name}",   conversation_messages_path(conversation), class: "list-group-item list-group-item-action", id: "conversation-line" %>

          </div>
          <div class="p-1 ">
            <%= link_to  conversation_path(conversation, sender_id: conversation.sender_id, recipient_id: conversation.recipient_id ), method: :delete, id: "delete-conversation" do %>
            <i class="fas fa-trash-alt fa-3x"></i>
          <% end %>
        </div>
        <%# end %>

      </div>
      </div>
      <% end %>
    </div>
    <div class=" col-lg-7">
    <div class="users">
      <h3 class="text-primary">Start a Message</h3>
      <input id="basics" placeholder="type a name" />

    </div>
    </div>
</div>

