    <div class="search-bar">
    <%= simple_form_for(@gym, as: :gym, method: :get, url: gyms_path, wrapper: :inline_form, html: { class: 'form-inline' }) do |f| %>
    <%= f.input :address, placeholder: 'Try "Barcelona"' %>
    <%= f.submit 'Find gyms', class: "btn btn-primary" %>
    <% end %>
    </div>
