  <div class="container">
<%= render 'components/banner' %>
    <h3>Gyms around the world</h3>
<div class="main-container">
<!--       <%#= form_tag gyms_path, method: :get do %>
      <%#= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Type a city name"
      %>
    <#% end %> -->

  <div class="cards-container">
    <%= render 'components/cards' %>
  </div>
  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  ></div>
</div>
  </div>
