  <div class="container-fluid">
<%= render 'components/banner_card' %>
    <!-- <h4>Gyms around the world</h4> -->
<div class="main-container">
<!--       <%#= form_tag gyms_path, method: :get do %>
      <%#= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Type a city name"
      %>
    <#% end %> -->
  <div class="cards-container">
    <%#= render 'components/cards' %>
  </div>
<!--   <div
  id="map" class="hidden-xs"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  ></div> -->
</div>
<h4 class="w-auto">Explore cities</h4>
<%#= render 'components/publicity_banner' %>
<%= render 'components/profile_cards' %>
<div class="">
<!-- <h4>Workouts to get inspired</h4> -->
<%#= render 'components/mayhem_cards' %>
</div>

 <!--  <%# @coutries.each do |country| %>
  <%# @city = country.cities.order('gyms_count').last %>
  <div class="profile">
    <div class="counrty"></div>
      <div class="city"><%#= @city.name %><%#= country.name %></div>
  </div>
  <%# end %> -->
 <!--  <iframe id="ytplayer" type="text/html" width="640" height="360"
  src="https://www.youtube.com/embed?listType=playlist&list=PLdWvFCOAvyr0Fa9CVYWiHPZg7QWBZ8o7c"
  frameborder="0"></iframe> -->

</div>
