<div class="container">
    <%= form_tag gyms_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a gym"
    %>
  <% end %>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%= render 'components/cards' %>
    </div>
  </div>
  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  ></div>
</div>
