<div class="main-container">
  <div class="container">
      <%= form_tag gyms_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a gym"
      %>
    <% end %>

  <div class="cards-container">
      <%= render 'components/cards' %>
  </div>
  </div>
</div>
