 .avatar-small {
   width: 40px;
   border-radius: 50%;
   position: absolute;
   bottom: 35px;
 }
// in the workout cards
 .avatar-google {
   width: 40px;
   border-radius: 50%;
   // position: absolute;
   bottom: 35px;
 }


