@media (min-width: 576px) {
   .banner {
      max-height: 300px;
      overflow: hidden;
  }
}

  .banner p {
    font-size: 25px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    margin-bottom: 3px;
  }

@media (max-width: 400px) {
   .banner h1{
      font-size: 31px;
  }
}

.banner{
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .container-fluid{
    padding-right: 45px;
    padding-left: 45px;
  }
}
