/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 17px;
  display: flex;
  align-items: center;
  width: auto;
  // justify-content: space-between;
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
  padding-right: 8px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
// search location form
@media (min-width: 576px){
.form-inline .form-control {
    width: 300px;
  }
}
.search-bar{
  // position: absolute;
  // left: 105px;
  // width: 600px;
}
// @media (max-width: 400px) {
//    #find-gyms {
//       position: absolute;
//       right: 10px;
//   }
// }
.errspan {
  position: relative;
  float: left;
  top: 24px;
  right: 0px;
  z-index: 2;
  color: grey;
}
#gym_address{
  border-width: 0px 0px 2px 0px;
  box-shadow:none;
  // background-image: url('http://localhost:3000/assets/search.png');
  // background-repeat: no-repeat;
}
input[type=text]:focus {
    // border-width: 0px 0px 3px 0px;
    border-color: #4ecca3;
    // background-image: url('http://localhost:3000/assets/search.png');
/*     background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px; */
}
// @media (max-width: 400px) {
//    #gym_address {
//       width: 90%;
//   }
// }
.btn-primary {
    // color: white;
    // background-color: #4ecca3;
    // border-color: #4ecca3;
    // border-radius: 2px;
    transition: background 0.35s ease;
    // padding: 0 16px;
    // text-transform: uppercase;
    // height: 36px;
    // vertical-align: middle;
}
a{
  // color: #4ecca3;
  text-decoration: none !important;
}
.nav-pills .nav-link.active{
  // background-color: #4ecca3;
}
.btn-primary:hover {
    // opacity: .85;
    // background-color: #4ecca3;
    // color: black;
    // border-color: #4ecca3;
}
// .pac-container.pac-logo.hdpi{
//   // display:block !important;
// }
