.modal-content{
  display: flex !important;
  justify-content: space-between;
}
.image{
  flex: 0 0 560px;
}
.text{
  flex: 0 0 340px;
  align-items: center;
}
#instructions{
  height: 100%;
}
#instructions p{
  height: 100%;
}

.text p{
  height: 100%;
}
